/* p {
    margin: 13px;
    padding: 13px;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: lightslategray;
    border-top: 10px solid forestgreen;
}

footer h6 {
    text-align: center;
}

.card {
    display: block;
    margin: auto;
}

.display-4 {
    display: block;
    margin: auto;
} */